@import '../scss/variables.scss';

header {
    padding: 1rem 2rem;
}

footer {
    text-align: center;
    padding: .5rem;
    //font-weight: 700;
    font-size: 1.2rem;
    background-color: $very-dark-gray;
}