$background: rgb(46, 46, 46);
$primary-color: rgb(25, 137, 212);
$light-gray: rgb(216, 216, 216);
$dark-gray: rgb(75, 75, 75);
$very-dark-gray: rgb(32, 32, 32);
$yellow: rgb(243, 252, 122);
$pink: rgb(228, 124, 124);